0. Load in the data that is available in this repository! Here's how to get started with loading in the data.

```python
import json

with open("data.json") as f:
     temp = json.load(f)
     data = temp['data']
     cols = temp['cols']
```

1. Write a comprehension that will extract out all the names and removes duplicates in doing so. The resulting data structure may be a list or a set.
2. Count the number of people in each state. There are several ways of doing this so I won't give any tips!
3. Write a comprehension that will end up with a key of name and value of phone number. The result should be a dictionary.
4. Write a comprehension to find which letters of the alphabet (if any) are not used as the first letter in their names. Don't just list which ones we have, but which ones we are missing.

Hint for this last one use:
```python
import string
string.ascii_lowercase
```

In [1]:
import json

with open("data.json") as f:
     temp = json.load(f)
     data = temp['data']
     cols = temp['cols']

### 1. Write a comprehension that will extract out all the names and removes duplicates in doing so. The resulting data structure may be a list or a set.

In [4]:
len(data)

100

In [5]:
data[:3]

[['Reed',
  '1-186-988-9663',
  'P.O. Box 371, 4863 Sed, St.',
  'Iowa City',
  'Iowa',
  '18517'],
 ['Clark',
  '757-2680',
  'P.O. Box 220, 8838 Ligula Street',
  'Jacksonville',
  'FL',
  '43572'],
 ['Demetrius',
  '1-707-814-6484',
  '282-6791 Lorem Rd.',
  'Reading',
  'PA',
  '80187']]

In [14]:
# Get the name out using a comprehension
names = [item[0] for item in data]
# Converting to a set takes the unique ones
unique_names = list(set(names))
print(len(names),"names")
print(len(unique_names),"unique names: ")
print(unique_names)

100 names
88 unique names:
['Hu', 'Reese', 'Kenyon', 'Jamal', 'Avram', 'Ulysses', 'Marshall', 'Neil', 'Devin', 'Cyrus', 'Beck', 'Dillon', 'Brian', 'Yoshio', 'Demetrius', 'Noah', 'James', 'Vance', 'Alec', 'Lucas', 'Steven', 'Bert', 'Giacomo', 'Xanthus', 'Ian', 'Harlan', 'Phillip', 'Benjamin', 'Joel', 'Kennedy', 'George', 'David', 'Ivor', 'Clayton', 'Tobias', 'Brady', 'Drake', 'Keith', 'Austin', 'Brody', 'Sean', 'Galvin', 'Logan', 'Alexander', 'Davis', 'Dalton', 'Macaulay', 'Lane', 'Yasir', 'Quentin', 'Hammett', 'Dylan', 'Norman', 'Aidan', 'Amery', 'Arsenio', 'Emery', 'Nolan', 'Lionel', 'Warren', 'Driscoll', 'Christian', 'Kaseem', 'Burton', 'Lester', 'Vladimir', 'Marsden', 'Armando', 'Roth', 'Jarrod', 'Carter', 'Jerry', 'Ali', 'Clark', 'Philip', 'Thomas', 'Joseph', 'Joshua', 'Drew', 'Dean', 'Reed', 'Hoyt', 'Ferdinand', 'Ralph', 'Thor', 'Connor', 'Talon', 'Derek']

In [21]:
# We could also directly do set comprehension!
unique_names = list({item[0] for item in data})
print(unique_names)

['Hu', 'Reese', 'Kenyon', 'Jamal', 'Avram', 'Ulysses', 'Marshall', 'Neil', 'Devin', 'Cyrus', 'Beck', 'Dillon', 'Brian', 'Yoshio', 'Demetrius', 'Noah', 'James', 'Vance', 'Alec', 'Lucas', 'Steven', 'Bert', 'Giacomo', 'Xanthus', 'Ian', 'Harlan', 'Phillip', 'Benjamin', 'Joel', 'Kennedy', 'George', 'David', 'Ivor', 'Clayton', 'Tobias', 'Brady', 'Drake', 'Keith', 'Austin', 'Brody', 'Sean', 'Galvin', 'Logan', 'Alexander', 'Davis', 'Dalton', 'Macaulay', 'Lane', 'Yasir', 'Quentin', 'Hammett', 'Dylan', 'Norman', 'Aidan', 'Amery', 'Arsenio', 'Emery', 'Nolan', 'Lionel', 'Warren', 'Driscoll', 'Christian', 'Kaseem', 'Burton', 'Lester', 'Vladimir', 'Marsden', 'Armando', 'Roth', 'Jarrod', 'Carter', 'Jerry', 'Ali', 'Clark', 'Philip', 'Thomas', 'Joseph', 'Joshua', 'Drew', 'Dean', 'Reed', 'Hoyt', 'Ferdinand', 'Ralph', 'Thor', 'Connor', 'Talon', 'Derek']

### 2. Count the number of people in each state. There are several ways of doing this so I won't give any tips!

In [37]:
state_dict = dict()
for item in data:
    state_dict[item[4]] = state_dict.get(item[4], 0) +1

In [38]:
print(state_dict)

{'Colorado': 1, 'Montana': 2, 'VA': 2, 'MI': 2, 'HI': 1, 'FL': 3, 'Nevada': 1, 'MT': 1, 'Arkansas': 1, 'Oklahoma': 1, 'IA': 1, 'GA': 1, 'Ohio': 3, 'Wisconsin': 1, 'AR': 2, 'KS': 3, 'Oregon': 1, 'Minnesota': 4, 'VT': 1, 'Alaska': 2, 'Maine': 1, 'ID': 1, 'Michigan': 2, 'Kansas': 2, 'CO': 2, 'WY': 1, 'Louisiana': 1, 'Wyoming': 1, 'Texas': 2, 'Kentucky': 1, 'Georgia': 2, 'MO': 1, 'LA': 2, 'Washington': 1, 'NE': 1, 'Pennsylvania': 2, 'Utah': 2, 'IL': 6, 'California': 1, 'Maryland': 1, 'Nebraska': 2, 'MA': 3, 'PA': 1, 'Iowa': 2, 'UT': 1, 'Mississippi': 1, 'Massachusetts': 2, 'AK': 1, 'Hawaii': 3, 'Vermont': 1, 'CT': 1, 'AZ': 1, 'OR': 2, 'MS': 2, 'WA': 2, 'ME': 2, 'MN': 1, 'Illinois': 1, 'TN': 1, 'TX': 3}

### 3. Write a comprehension that will end up with a key of name and value of phone number. The result should be a dictionary.

In [44]:
# We can create a dictionary comprehension
phone_book = {item[0]:item[1] for item in data}
print(phone_book['Aidan'])
print(phone_book['Ivor'])

1-984-711-9462
123-7017

### 4. Write a comprehension to find which letters of the alphabet (if any) are not used as the first letter in their names. Don't just list which ones we have, but which ones we are missing.

In [69]:
# Let's first create a quick list of all characters
import string
all_chars = string.ascii_lowercase

print(all_chars)

abcdefghijklmnopqrstuvwxyz

In [59]:
letters_to_remove = "".join(set([item[0][0].lower() for item in data]))

In [60]:
letters_to_remove

'ytcinhxkasldvgmfpbejuqrw'

In [72]:
for letter in letters_to_remove:
    all_chars = all_chars.replace(letter,'')

In [74]:
print("The following letters are not the first letter in a name: ", all_chars)

The following letters are not the first letter in a name:  oz

In [75]:
#### Alternative Approach
all_chars = {letter for letter in string.ascii_lowercase}
letters_to_remove = set([item[0][0].lower() for item in data])

In [81]:
print(all_chars)
print(letters_to_remove)
print(all_chars - letters_to_remove)
print()
print("The following letters are nto the first letter in a name: ", "".join(all_chars - letters_to_remove))

{'y', 't', 'c', 'i', 'n', 'h', 'x', 'k', 'a', 's', 'l', 'd', 'v', 'g', 'm', 'f', 'p', 'z', 'b', 'j', 'e', 'u', 'q', 'o', 'r', 'w'}
{'y', 't', 'c', 'i', 'n', 'h', 'x', 'k', 'a', 's', 'l', 'd', 'v', 'g', 'm', 'f', 'p', 'b', 'e', 'j', 'u', 'q', 'r', 'w'}
{'z', 'o'}

The following letters are nto the first letter in a name:  zo